@import url(http://fonts.googleapis.com/css?family=Leckerli+One|Damion|Roboto:400,300,700);
body {
  padding-top: 46px;
  padding-bottom: 40px; }

.hero-unit {
  background: black url(/assets/images/index/office.jpg) no-repeat top left; }
  .hero-unit h1 {
    color: white; }
  .hero-unit p {
    color: whitesmoke; }

.navbar-brand {
  font-family: Leckerli One;
  font-size: 22px;
  color: #f39c12 !important; }

body {
  padding-top: 50px; }

.section {
  font-size: 18px;
  height: 750px;
  position: relative; }
  .section .container {
    padding: 20px 15px; }
  .section.one {
    background-color: #2980b9;
    color: #ecf0f1; }
    .section.one #hero-1 {
      height: 750px;
      background-image: url("../../images/index/peerpen-hero-1.png");
      background-size: 600px 600px;
      background-repeat: no-repeat; }
    .section.one .row div:nth-child(2) {
      padding-top: 25%; }
  .section.two {
    height: 500px;
    background-image: url("../../images/index/office.jpg");
    background-size: 100% auto;
    -webkit-filter: blur(2px); }
  .section.three {
    background-color: #16a085;
    color: #ecf0f1; }
    .section.three #hero-2 {
      height: 750px;
      background-image: url("../../images/index/peerpen-hero-2.png");
      background-size: 600px 600px;
      background-repeat: no-repeat;
      background-position-y: 135px; }
    .section.three .row div:nth-child(1) {
      padding-top: 5%; }
  .section.four {
    height: 500px;
    background-image: url("../../images/index/library.png");
    background-size: 100% auto;
    -webkit-filter: blur(2px); }
  .section.five {
    height: 100%;
    background-color: #34495e;
    color: #ecf0f1; }

.navbar {
  background-color: #34495e; }
  .navbar a:link, .navbar a:visited, .navbar a:hover, .navbar a:active {
    color: #e67e22; }

footer {
  background-color: #2c3e50;
  padding: 20px 0;
  text-align: center;
  color: #e67e22; }
