<<<<<<< HEAD
@import url(http://fonts.googleapis.com/css?family=Leckerli+One|Damion|Roboto:100,300,400,700|Inconsolata:400);
body {
  padding-top: 46px;
  padding-bottom: 40px;
  font-family: Roboto, arial, sans-serif;
  font-weight: lighter; }
=======
@import url(http://fonts.googleapis.com/css?family=Leckerli+One|Damion|Roboto:400,300,700|Inconsolata:400|Lobster|Montserrat);
body {
  padding-top: 70px;
  padding-bottom: 40px;
  background-color: #ecf0f1; }
>>>>>>> secret

.hero-unit {
  background: #00001c url(/assets/images/index/google-strap-hero.jpg) no-repeat top left; }
  .hero-unit h1 {
    color: white; }
  .hero-unit p {
    color: whitesmoke; }

pre {
  margin: 30px 0; }

div.container#debug h1, div.container#debug h2, div.container#debug h3, div.container#debug h4, div.container#debug h5, div.container#debug p, div.container#debug pre {
  margin: 0px; }

table#stacktrace tr.stack-1 {
  background-color: #e34e39;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-2 {
  background-color: #e35139;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-3 {
  background-color: #e35439;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-4 {
  background-color: #e35639;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-5 {
  background-color: #e35939;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-6 {
  background-color: #e35c39;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-7 {
  background-color: #e35f39;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-8 {
  background-color: #e36239;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-9 {
  background-color: #e36539;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-10 {
  background-color: #e36739;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-11 {
  background-color: #e36a39;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-12 {
  background-color: #e36d39;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-13 {
  background-color: #e37039;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-14 {
  background-color: #e37339;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-15 {
  background-color: #e37639;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-16 {
  background-color: #e37839;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-17 {
  background-color: #e37b39;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-18 {
  background-color: #e37e39;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-19 {
  background-color: #e38139;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-20 {
  background-color: #e38439;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-21 {
  background-color: #e38739;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-22 {
  background-color: #e38939;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-23 {
  background-color: #e38c39;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-24 {
  background-color: #e38f39;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-25 {
  background-color: #e39239;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-26 {
  background-color: #e39539;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-27 {
  background-color: #e39839;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-28 {
  background-color: #e39a39;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-29 {
  background-color: #e39d39;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-30 {
  background-color: #e3a039;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-31 {
  background-color: #e3a339;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-32 {
  background-color: #e3a639;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-33 {
  background-color: #e3a939;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-34 {
  background-color: #e3ab39;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-35 {
  background-color: #e3ae39;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-36 {
  background-color: #e3b139;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-37 {
  background-color: #e3b439;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-38 {
  background-color: #e3b739;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-39 {
  background-color: #e3ba39;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-40 {
  background-color: #e3bc39;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-41 {
  background-color: #e3bf39;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-42 {
  background-color: #e3c239;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-43 {
  background-color: #e3c539;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-44 {
  background-color: #e3c839;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-45 {
  background-color: #e3ca39;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-46 {
  background-color: #e3cd39;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-47 {
  background-color: #e3d039;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-48 {
  background-color: #e3d339;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-49 {
  background-color: #e3d639;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-50 {
  background-color: #e3d939;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-51 {
  background-color: #e3db39;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-52 {
  background-color: #e3de39;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-53 {
  background-color: #e3e139;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-54 {
  background-color: #e2e339;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-55 {
  background-color: #dfe339;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-56 {
  background-color: #dce339;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-57 {
  background-color: #dae339;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-58 {
  background-color: #d7e339;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-59 {
  background-color: #d4e339;
  color: white;
  font-size: 1em; }
table#stacktrace tr.stack-60 {
  background-color: #d1e339;
  color: white;
  font-size: 1em; }

div.alert#exception-reason {
  margin-bottom: 0px; }

i#bug {
  color: rgba(0, 0, 0, 0.05);
  position: fixed;
  font-size: 75em;
  right: 0;
  bottom: 0; }

div.code pre {
  font-size: 1.5em; }

<<<<<<< HEAD
div#dropzone-container {
  display: none;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 999; }
  div#dropzone-container .dropzone {
    background-color: #cbd0d3;
    border: 5px dashed #a0aeaf;
    border-radius: 30px;
    margin: 30px; }
=======
p {
  font-family: Roboto, arial, sans-serif;
  font-weight: lighter;
  font-size: 2em;
  line-height: 1.2em; }

div.resume-regular {
  background: white;
  box-shadow: 0.7em 0.7em rgba(189, 195, 199, 0.5);
  background-image: url("/assets/images/index/creampaper.png");
  background-repeat: repeat-x repeat-y;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  div.resume-regular h1#owner-name {
    font-family: Lobster, "Courier New", serif;
    text-shadow: rgba(0, 0, 0, 0.3) 1px 1px;
    font-size: 4em;
    opacity: 0.7; }
  div.resume-regular div#owner-personal-information {
    float: right;
    position: absolute;
    top: 30px;
    right: 10px; }
    div.resume-regular div#owner-personal-information p {
      font-size: 1.4em;
      font-family: Roboto, arial, sans-serif; }

section {
  min-height: 600px;
  padding: 50px;
  overflow: hidden;
  position: relative; }
  section div.float-glyphs {
    float: right;
    position: absolute; }
  section div.form-group {
    margin-bottom: 5px !important; }
    section div.form-group .form-control {
      height: 40px;
      font-size: 1.2em; }
    section div.form-group button[type='submit'] {
      width: 100%; }
  section#signup {
    margin-top: -20px;
    min-height: 800px; }
    section#signup h1, section#signup h2, section#signup h3, section#signup h4, section#signup h5, section#signup h6 {
      font-weight: 200;
      display: none;
      text-shadow: #ecf0f1 1px 1px 2px; }
      section#signup h1:last-child, section#signup h2:last-child, section#signup h3:last-child, section#signup h4:last-child, section#signup h5:last-child, section#signup h6:last-child {
        margin-bottom: 75px; }
    section#signup div.backstretch img {
      -webkit-filter: grayscale(40%) blur(3px) brightness(80%);
      opacity: 0.5; }
    section#signup div#resume-large img {
      position: absolute;
      left: 35%;
      top: 7; }
    section#signup div.tooltip-inner {
      font-size: 1em; }
    section#signup form {
      display: none; }
      section#signup form div.form-group {
        width: 100%; }
      section#signup form button[type="submit"] {
        font-size: 1.3em; }
  section#cloud {
    background-color: #262626; }
    section#cloud div#resume-medium {
      top: 100px;
      left: 100px; }
    section#cloud div#resume-cloud {
      left: 300px;
      top: 120px; }
    section#cloud p {
      color: #ecf0f1; }
  section#portable img#mac-blocker {
    z-index: 10;
    top: 508px;
    left: -150px;
    position: absolute; }
  section#portable div#macbook-container img {
    position: absolute; }
    section#portable div#macbook-container img#macbook {
      left: -200px;
      top: 275px;
      z-index: 6; }
    section#portable div#macbook-container img#macbook-browser {
      left: -152px;
      top: 292px;
      z-index: 4; }
    section#portable div#macbook-container img#macbook-resume {
      width: 250px;
      left: -125px;
      top: 450px;
      z-index: 5; }
  section#portable div#imac-container img {
    position: absolute; }
    section#portable div#imac-container img#imac-browser {
      width: 582px;
      left: 92px;
      height: auto;
      top: 29px;
      z-index: 1; }
    section#portable div#imac-container img#imac-resume {
      width: 350px;
      left: 200px;
      top: 243px;
      z-index: 2; }
    section#portable div#imac-container img#imac {
      z-index: 3; }
  section#handheld div#galaxy {
    left: 100px;
    top: 100px; }
    section#handheld div#galaxy div#galaxy-screen {
      top: 14px;
      left: 48px; }
  section#handheld div#iphone {
    top: 250px;
    left: 50px; }
    section#handheld div#iphone div#iphone-screen {
      top: 25px;
      left: 75px; }
  section#osx-notification {
    background: url("/assets/images/index/osx-desktop.png");
    background-size: cover;
    min-height: 300px; }
    section#osx-notification p {
      color: #ecf0f1; }
    section#osx-notification div#osx-desktop-notification {
      position: absolute;
      top: -120px; }
  section#twitter {
    min-height: 400px; }
    section#twitter div#carousel-tweets {
      margin: 100px 100px 0; }
    section#twitter a.carousel-control {
      background-image: none;
      width: 10%; }
      section#twitter a.carousel-control.left {
        left: -10%; }
      section#twitter a.carousel-control.right {
        right: -10%; }
      section#twitter a.carousel-control i {
        margin: 50%; }
    section#twitter div.carousel-inner {
      min-height: 200px; }
  section#counter div.odometer {
    font-family: Montserrat, Helvetica, "Courier New", sans-serif;
    font-size: 12em; }

footer {
  background-color: #222222;
  min-height: 300px; }
  footer img#resume-large-bottom {
    position: absolute;
    left: 35%; }
>>>>>>> secret
