@import url(http://fonts.googleapis.com/css?family=Leckerli+One|Damion|Roboto:100,300,400,700|Inconsolata:400)

// Google-strap specific styling
body
  padding-top: 46px
  padding-bottom: 40px
  font-family: Roboto, arial, sans-serif
  font-weight: lighter

.hero-unit
  background: #00001C url(/assets/images/index/google-strap-hero.jpg) no-repeat top left
  h1
    color: #FFF
  p
    color: #F5F5F5
// End of Google-strap

pre
  margin: 30px 0

div.container#debug
  h1, h2, h3, h4, h5, p, pre
    margin: 0px

$red-alert: #E34B39
table#stacktrace
  @for $i from 1 through 60
    tr.stack-#{$i}
      background-color: adjust-hue($red-alert, $i)
      color: #ffffff
      font-size: 1em

div.alert#exception-reason
  margin-bottom: 0px

i#bug
  color: rgba(0, 0, 0, 0.05)
  position: fixed
  font-size: 75em
  right: 0
  bottom: 0

div.code pre
  font-size: 1.5em




//.navbar-brand
  //font-family: Leckerli One
  //font-size: 22px
  //color: #f39c12 !important

//body
  //padding-top: 50px

//.section
//  .container
//    padding: 20px 15px
//
//  font-size: 18px
//  height: 750px
//  position: relative
//
//  &.one
//    #hero-1
//      height: 750px
//      background-image: url("../../images/index/peerpen-hero-1.png")
//      background-size: 600px 600px
//      background-repeat: no-repeat
//    .row div:nth-child(2)
//      padding-top: 25%
//
//    background-color: #2980b9
//    color: #ecf0f1
//
//  &.two
//    height: 500px
//    background-image: url("../../images/index/office.jpg")
//    background-size: 100% auto
//    -webkit-filter: blur(2px)
//  &.three
//    #hero-2
//      height: 750px
//      background-image: url("../../images/index/peerpen-hero-2.png")
//      background-size: 600px 600px
//      background-repeat: no-repeat
//      background-position-y: 135px
//    .row div:nth-child(1)
//      padding-top: 5%
//
//    background-color: #16a085
//    color: #ecf0f1
//  &.four
//    height: 500px
//    background-image: url("../../images/index/library.png")
//    background-size: 100% auto
//    -webkit-filter: blur(2px)
//  &.five
//    height: 100%
//    background-color: #34495e
//    color: #ecf0f1

//.navbar
  //background-color: #34495e
  //a:link, a:visited, a:hover, a:active
  //  color: #e67e22

//footer
  //background-color: #2c3e50
  //padding: 20px 0
  //text-align: center
  //color: #e67e22




