@import url(http://fonts.googleapis.com/css?family=Leckerli+One|Damion|Roboto:400,300,700|Inconsolata:400|Lobster|Montserrat)

// Google-strap specific styling
body
  padding-top: 70px
  padding-bottom: 40px
  background-color: #ecf0f1

.hero-unit
  background: #00001C url(/assets/images/index/google-strap-hero.jpg) no-repeat top left
  h1
    color: #FFF
  p
    color: #F5F5F5
// End of Google-strap

pre
  margin: 30px 0

div.container#debug
  h1, h2, h3, h4, h5, p, pre
    margin: 0px

$red-alert: #E34B39
table#stacktrace
  @for $i from 1 through 60
    tr.stack-#{$i}
      background-color: adjust-hue($red-alert, $i)
      color: #ffffff
      font-size: 1em

div.alert#exception-reason
  margin-bottom: 0px

i#bug
  color: rgba(0, 0, 0, 0.05)
  position: fixed
  font-size: 75em
  right: 0
  bottom: 0

div.code pre
  font-size: 1.5em


// Vertical layout style
p
  font-family: Roboto, arial, sans-serif
  font-weight: lighter
  font-size: 2em
  line-height: 1.2em


div.resume-regular
  background: #FFF
  box-shadow: 0.7em 0.7em rgba(189, 195, 199, 0.5)
  background-image: url("/assets/images/index/creampaper.png")
  background-repeat: repeat-x repeat-y
  border: 1px solid rgba(0, 0, 0, 0.1)

  h1#owner-name
    font-family: Lobster, "Courier New", serif
    text-shadow: rgba(0, 0, 0, 0.3) 1px 1px
    font-size: 4em
    opacity: 0.7

  div#owner-personal-information
    float: right
    position: absolute
    top: 30px
    right: 10px
    p
      font-size: 1.4em
      font-family: Roboto, arial, sans-serif

section
  min-height: 600px
  padding: 50px
  overflow: hidden
  position: relative
  div.float-glyphs
    float: right
    position: absolute
  &#signup
    div.tooltip-inner
      font-size: 2em
  &#cloud
    background-color: #262626
    div#resume-medium
      top: 100px
      left: 100px
    div#resume-cloud
      left: 300px
      top: 120px
    p
      color: #ECF0F1
  &#portable
    div#macbook
      left: -200px
      top: 275px
    div#macbook-browser
      top: 16px
      left: 48px
    div#imac-browser
      top: 31px
      left: 94px
  &#handheld
    div#galaxy
      left: 100px
      top: 100px
      div#galaxy-screen
        top: 14px
        left: 48px
    div#iphone
      top: 250px
      left: 50px
      div#iphone-screen
        top: 25px
        left: 75px
  &#osx-notification
    p
      color: #ECF0F1
    background: url("/assets/images/index/osx-desktop.png")
    background-size: cover
    min-height: 300px
    div#osx-desktop-notification
      top: 30px
      right: 10px
  &#twitter
    min-height: 400px
    div#carousel-tweets
      margin: 100px 100px 0
    a.carousel-control
      background-image: none
      width: 10%
      &.left
        left: -10%
      &.right
        right: -10%
      i
        margin: 50% // Put the chevron at the middle
    div.carousel-inner
      min-height: 200px
  &#counter
    div#odometer
      font-family: Montserrat, Helvetica, "Courier New", sans-serif
      font-size: 12em





//.navbar-brand
  //font-family: Leckerli One
  //font-size: 22px
  //color: #f39c12 !important

//body
  //padding-top: 50px

//.section
//  .container
//    padding: 20px 15px
//
//  font-size: 18px
//  height: 750px
//  position: relative
//
//  &.one
//    #hero-1
//      height: 750px
//      background-image: url("../../images/index/peerpen-hero-1.png")
//      background-size: 600px 600px
//      background-repeat: no-repeat
//    .row div:nth-child(2)
//      padding-top: 25%
//
//    background-color: #2980b9
//    color: #ecf0f1
//
//  &.two
//    height: 500px
//    background-image: url("../../images/index/office.jpg")
//    background-size: 100% auto
//    -webkit-filter: blur(2px)
//  &.three
//    #hero-2
//      height: 750px
//      background-image: url("../../images/index/peerpen-hero-2.png")
//      background-size: 600px 600px
//      background-repeat: no-repeat
//      background-position-y: 135px
//    .row div:nth-child(1)
//      padding-top: 5%
//
//    background-color: #16a085
//    color: #ecf0f1
//  &.four
//    height: 500px
//    background-image: url("../../images/index/library.png")
//    background-size: 100% auto
//    -webkit-filter: blur(2px)
//  &.five
//    height: 100%
//    background-color: #34495e
//    color: #ecf0f1

//.navbar
  //background-color: #34495e
  //a:link, a:visited, a:hover, a:active
  //  color: #e67e22

//footer
  //background-color: #2c3e50
  //padding: 20px 0
  //text-align: center
  //color: #e67e22




